# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/popup
!/modules/popup/*
/themes/*
!/themes/admin_default/css/popup.css
!/themes/admin_default/js/popup.js
!/themes/admin_default/js/popup_*.js
!/themes/admin_default/images/popup
!/themes/admin_default/images/popup/*
!/themes/admin_default/modules/popup
!/themes/admin_default/modules/popup/*
!/themes/default/css/popup.css
!/themes/default/js/popup.js
!/themes/default/js/popup_*.js
!/themes/default/images/popup
!/themes/default/images/popup/*
!/themes/default/modules/popup
!/themes/default/modules/popup/*
/.project
/.settings/
/.buildpath
